.wrap_Login {
}
.wrap_login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.wrap_form {
  padding: 28px 30px 30px;
  background: #fff;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 1px 11px rgba(168, 168, 168, 0.27);
  flex: 0 0 33.33%;
  height: 520px;
  padding-top: 8%;
}

.wrap_form_item {
}
.form_items_title {
  text-align: center;
  font-weight: 700;
  padding-bottom: 14px;
}
.form_items {
  margin-bottom: 12px;
}
.form_info {
  width: 100%;
  font-weight: 500;
  color: #2e09db;
  padding-top: 12px;
}
.form_data {
  width: 100%;
  padding: 8px 16px;
  border: 1.8px solid #e4e4e4;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 4px;
}
.form_data::placeholder {
  color: #abadb2;
  font-weight: 600;
}
.wrap_button {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.button_items_check {
  display: flex;
}
.button_item {
  border: 2px solid #ddd;
  border-radius: 50% !important;
  outline: none;
  cursor: pointer;
}
.button_item:checked {
  accent-color: #2e09db;
  border-radius: 20%;
}
.button_items_title {
  font-weight: 500;
}
.button_items {
}
.button_login {
  background-color: #2e09db;
  color: #fff;
  border-radius: 5px;
  padding: 4px 18px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 46.1875em) {
  .wrap_form {
    flex: 0 0 80%;
  }
}
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .wrap_form {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 64em) {
  .wrap_form {
    flex: 0 0 30%;
  }
}
