.wrap_profile_form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.wrap_form {
  padding: 56px 30px 30px;
  background: #fff;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 1px 11px rgba(168, 168, 168, 0.27);
  flex: 0 0 33.33%;
  height: 520px;
}
.form_title {
  margin-bottom: 12%;
  font-weight: 700;
}
.form_info {
  width: 100%;
  font-weight: 400;
  color: #aeb1b5;
}
.form_data {
  width: 100%;
  padding: 8px 16px;
  border: 1.8px solid #e4e4e4;
  border-radius: 5px;
  // color: #dedfe1;
  font-size: 16px;
  margin-bottom: 12px;
  margin-top: 5px;
}
.frame_error {
}
.error_message {
  color: red;
}
.wrap_button {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 30px;
}

.button_cancel,
.button_update {
  border-radius: 5px;
  padding: 4px 10px;
  border: none;
  cursor: pointer;
}
.button_update {
  background-color: #2e09db;
  color: #fff;
  margin-right: 5px;
}
.button_cancel {
  margin-left: 5px;
  color: #2e09db;
  background-color: #f6f4ff;
  font-weight: 600;
}

@media screen and (max-width: 46.1875em) {
  .wrap_form {
    flex: 0 0 80%;
  }
}
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .wrap_form {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 64em) {
  .wrap_form {
    flex: 0 0 30%;
  }
}
